.App {
  text-align: center;
}

.room {
  display: inline-block;
  float: left;
  width: 30px;
  height: 30px;
  border: 2px solid #191970;
  cursor: pointer;
}
.activ {
  color: grey;
}
.header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
}
.header a {
  color: white;
  font-size: 34px;
  direction: none;
}
.activeLink {
  color: orange;
}
.headerHome {
  text-align: left;
}
.list-items {
  margin-left: 60%;
}
.Item {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  display: flex;
  justify-content:flex-start;
  background-color: #DCDCDC;
}
.Item h1, h2 {
  font-size: 20px;
  color: black;
  text-align: left;
  border-color: orange;
}
.Page {
  display: flex;
  justify-content: space-around;
  align-items:center;
}
.pageFilm {
  width: 250px;
  text-align: left;
  position: absolute;
  left: 6%;
  top: 160px;
}
.Hall {
  height: 355px;
  width: 355px;
  position: absolute;
  left: 32%;
  top: 160px;
}
.List {

  margin-left: 10%;
  text-align: left;
}
.ItemsList {
  list-style:none;
}
.button {
  width: 200px;
  height: 45px;
  background-color: #006400;
  border-radius: 40px;
  margin-bottom: -60px;
  float: left;

}
h6 {
  color: grey;
}
.null {
  font-size: 64px;
}
footer {
  display: flex;
  justify-content: space-around;
  text-align: left;
  background-color: #222;
  color: white;
  margin-top: 450px;

}
footer h2 {
  color: white;
}
footer div {
  width: 30%;
}

footer img {
  height: 30px;
  padding-right: 3px;
  margin-bottom: -10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
